<ion-header>
    <ion-toolbar class="ion-justify-content-center" color="primary">
        <ion-title>Hilfe</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="cancel()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ul>
        <li>
            <a>Einführung für FEMS-Monitoring starten</a>
        </li>
        <li>
            <a>Häufig gestellte Fragen (FAQ)</a>
        </li>
        <li>
            <a>Bei weiteren Fragen melden Sie sich bitte bei service@fenecon.de</a>
        </li>
    </ul>
</ion-content>