<ion-header>
  <ion-toolbar class="ion-justify-content-center" color="primary">
      <ion-title>Inbetriebnahme</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-row class="ion-justify-content-center">
    <ion-card padding>
      <ion-card-title>
        Inbetriebnahme Wechselrichter
      </ion-card-title>
<ul>
<li>
    <a>Für die Inbetriebnahme des Wechselrichters schalten sie zunächst die Netzsicherung zu, das Display benötigt circa 30 Sekunden bis er angeht und der Speicher anfängt zu arbeiten.</a>
</li>
<li>
    <a>Für diese Inbetriebnahme wird eine stabile Internetverbindung benötigt. Nachdem Sie alle Angaben und Einstellungen eingetragen haben drücken Sie auf Weiter, um fortzufahren.</a>
</li>
</ul>

<ion-col size="4"class="ion-text-start" class="ion-padding-start">
<ion-button fill="solid" [routerLink]="['/setup-six']">Weiter</ion-button>
</ion-col>
