<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/ibn/start']">IBN Neustarten
          <ion-icon name="repeat"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-card>
      <ion-card-content padding>
        <ion-row padding-top class="ion-justify-content-center">
          <ion-card-title>Konfiguration der Batterie &nbsp;<ion-icon name="information-circle" (click)="presentModalInfo()"></ion-icon></ion-card-title>
        </ion-row>
        <ion-item padding-top>
          <ion-label>Anzahl Batteriemodule:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label type="country">Land:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-row padding-top class="ion-justify-content-center">
          <ion-button [routerLink]="['/ibn/commercial/batterie/batterieerror']">Übernehmen</ion-button>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-grid>