<ion-header>
  <ion-toolbar class="ion-justify-content-center" color="primary">
      <ion-title>Inbetriebnahme</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
        <ion-card padding>
          <ion-card-title>
            Inbetriebnahme Wechselrichter erfolgreich 
          </ion-card-title>
  <ul>
    <li>
        <a>Die Inbetriebnahme Ihres Wechselrichters war ERFOLGREICH.</a>
    </li>
    <li>
        <a>Um mit der Inbetriebnahme des Wechselrichters fortzufahren drücken Sie bitte auf Weiter.</a>
    </li>
  </ul>

  <ion-col size="4"class="ion-text-start" class="ion-padding-start">
    <ion-button fill="solid" [routerLink]="['/setup-seven']">Weiter</ion-button>
    </ion-col>
