<ion-header>
  <ion-toolbar class="ion-justify-content-center" color="primary">
      <ion-title>Inbetriebnahme</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-row class="ion-justify-content-center">
    <ion-card padding>
      <ion-card-title>
        Inbetriebnahme Batterie fehlgeschlagen
      </ion-card-title>
      <ul>
        <li>
            <a>Die Inbetriebnahme Ihrer Batterie ist FEHLGESCHLAGEN.</a>
        </li>
        <li>
          <a>Versuchen Sie es noch einmal.</a>
      </li>
      <ion-col size="6" class="ion-text-center">
        <ion-button expand="block" fill="solid">Beschreibung des Fehler</ion-button>
      </ion-col>
      <li>
        <a>Wenn Sie den Inbetriebnahme Prozess wiederholen möchten drücken Sie auf Wiederholen.</a>
    </li>
  </ul>
    <ion-col size="4"class="ion-text-start" class="ion-padding-start">
    <ion-button fill="solid" [routerLink]="['/setup-three']">Wiederholen</ion-button>
    </ion-col>