<ion-header>
  <ion-toolbar class="ion-justify-content-center" color="primary">
    <ion-title>Inbetriebnahme</ion-title>
  </ion-toolbar>
</ion-header>
<ion-row class="ion-justify-content-center">
  <ion-card padding>
    <ion-card-title>
      Inbetriebnahmeprotokol
    </ion-card-title>

<ion-title>Endkunde</ion-title>

<ion-input>Vor- und Nachname*></ion-input>
<ion-input>Adresse*</ion-input>
<ion-input>Telefonnummer</ion-input>
<ion-input>Mobilnummer</ion-input>
<ion-input>E-Mail Adresse*</ion-input>

<ion-title>Installateur</ion-title>

<ion-input>Firmennamen*</ion-input>
<ion-input>Adresse*</ion-input>
<ion-input>Telefonnummer</ion-input>
<ion-input>Mobilnummer</ion-input>
<ion-input>E-Mail Adresse*</ion-input>

<ion-title>Stromspeicher-Seriennummer</ion-title>

<ion-input>Batterie-Seriennummer*></ion-input>
<ion-input>+</ion-input>
<ion-input>Wechselrichter-Seriennummer*</ion-input>
<ion-input>FEMS*</ion-input>
<ion-input>Verbaute Zählertypen</ion-input>
<ion-input>+</ion-input>

<ion-col size="4"class="ion-text-start" class="ion-padding-start">
  <ion-button fill="solid" [routerLink]="['/ibn-finish']">Senden</ion-button>
  </ion-col>
  <ion-col size="4"class="ion-text-start" class="ion-padding-start">
    <ion-button fill="solid" [routerLink]="['/ibn-finish']">Drucken</ion-button>
    </ion-col>