<ion-header>
  <ion-toolbar class="ion-justify-content-center" color="primary">
      <ion-title>Inbetriebnahme</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
        <ion-card padding>
          <ion-card-title>
            Inbetriebnahme abgeschlossen
          </ion-card-title>
          <ul>
            <li>
                <a>Herzlichen Glückwunsch Ihr Pro hybrid 10-Serie wurde erfolgreich mit Ihrem Wechselrichter (Name) und dem FENECON Energie Management System verbunden.</a>
            </li>
            <li>
                <a>Wussten Sie schon das Sie zusätzlich zu Ihrem Batteriespeicher auch eine Wärmepumpe und eine E-Mobility Ladesäule anbinden können.</a>
            </li>
            <li>
              <a>Besuchen Sie unsere Website für mehr Informationen. 
                https://fenecon.de/page/pro-hybrid-10-serie
                </a>
          </li>
          </ul>
          <ion-col size="4"class="ion-text-start" class="ion-padding-start">
            <ion-button fill="solid" [routerLink]="['/setup']">Inbetriebnahme abschliessen</ion-button>
            </ion-col>