<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/ibn/start']">IBN Neustarten
          <ion-icon name="repeat"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-card>
          <ion-card-content padding>
            <ion-row padding-top class="ion-justify-content-center">
              <ion-card-title>Konfiguration des Wechselrichters&nbsp;<ion-icon name="information-circle" (click)="presentModalInfo()"></ion-icon></ion-card-title>
            </ion-row>
            <ion-row padding-top class="ion-justify-content-center">
              <ul>
                <li>
                    Für die Inbetriebnahme des Wechselrichters schalten sie zunächst die Netzsicherung zu, das Display benötigt
                    circa 30 Sekunden bis er angeht und der Speicher anfängt zu arbeiten.
                </li>
                <li>
                    Für diese Inbetriebnahme wird eine stabile Internetverbindung benötigt. Nachdem Sie alle Angaben und
                    Einstellungen eingetragen haben drücken Sie auf Weiter, um fortzufahren.
                </li>
              </ul>
            </ion-row>
            <ion-row padding-top class="ion-justify-content-center">
          <ion-button [routerLink]="['/ibn/prohybrid/wechselrichter/settings']">Weiter</ion-button>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-grid>