<!-- <ion-header>
    <ion-toolbar>
        <ion-buttons>
            <button (click)="cancel()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>title</ion-title>
    </ion-toolbar>
</ion-header>
 -->

<ion-header>
    <ion-toolbar color="primary">
        <ion-title text-center>Profil</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="cancel()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<!-- <ion-header>
    <ion-toolbar color="success">
        <ion-title>
            The Title
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="doSomething()">
                <ion-icon slot="icon-only" name="add-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header> -->
<ion-content padding>
    content

</ion-content>