<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-menu-button autoHide="false"></ion-menu-button>
      <ion-title text-center>Übersicht</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-sm="6" size-md="4">
      <ion-list lines="full">
        <ion-item lines="inset">
          <ion-label>
            <h2 text-wrap>Max Mustermann</h2>
            <!-- <p text-wrap></p> -->
          </ion-label>
          <ion-label>
            <p>ID: fems1337</p>
            <p text-wrap>Typ: Commercial 50</p>
            <p text-wrap>Angemeldet als: Chef</p>
          </ion-label>
          <ion-icon slot="end" name="play" color="primary"></ion-icon>
        </ion-item>
        <ion-item lines="inset">
          <ion-label>
            <h2 text-wrap>Max Mustermann</h2>
            <!-- <p text-wrap></p> -->
          </ion-label>
          <ion-label>
            <p>ID: fems1337</p>
            <p text-wrap>Typ: Commercial 50</p>
            <p text-wrap>Angemeldet als: Chef</p>
          </ion-label>
          <ion-icon slot="end" name="play" color="primary"></ion-icon>
        </ion-item>
        <ion-item lines="inset">
          <ion-label>
            <h2 text-wrap>Max Mustermann</h2>
            <!-- <p text-wrap></p> -->
          </ion-label>
          <ion-label>
            <p>ID: fems1337</p>
            <p text-wrap>Typ: Commercial 50</p>
            <p text-wrap>Angemeldet als: Chef</p>
          </ion-label>
          <ion-icon slot="end" name="play" color="primary"></ion-icon>
        </ion-item>
        <ion-item lines="inset" color="light">
          <ion-label>
            <h2 text-wrap>Max Mustermann</h2>
            <p text-wrap>Das Gerät ist nicht verbunden!</p>
          </ion-label>
          <ion-label>
            <p>ID: fems1337</p>
            <p text-wrap>Typ: Commercial 50</p>
            <p text-wrap>Angemeldet als: Chef</p>
          </ion-label>
          <ion-icon slot="end" name="play" color="primary"></ion-icon>
        </ion-item>
        <ion-item lines="inset">
          <ion-label>
            <h2 text-wrap>Max Mustermann</h2>
            <!-- <p text-wrap></p> -->
          </ion-label>
          <ion-label>
            <p>ID: fems1337</p>
            <p text-wrap>Typ: Commercial 50</p>
            <p text-wrap>Angemeldet als: Chef</p>
          </ion-label>
          <ion-icon slot="end" name="play" color="primary"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>