<ion-header>
    <ion-toolbar color="primary">
    </ion-toolbar>
  </ion-header>

  <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-card>
          <ion-card-content padding>
            <ion-row padding-top class="ion-justify-content-center">
              <ion-card-title>Inbetriebnahme abgeschlossen</ion-card-title>
            </ion-row>
            <ion-row padding-top class="ion-justify-content-center">
              <ul>
                <li>
                  Herzlichen Glückwunsch, Ihr Pro-Hybrid 10-Serie wurde erfolgreich mit Ihrem Wechselrichter und dem FENECON Energie Management System verbunden
                </li>
                <li>
                  Wussten Sie schon, dass Sie zusätzlich zu Ihrem Batteriespeicher auch eine Wärmepumpe und eine E-Mobility Ladesäule anbinden können?
                </li>
                <li>
                    Besuchen Sie unsere <a href="https://fenecon.de/page/pro-hybrid-10-serie">Website</a> für mehr Informationen
                  </li>
              </ul>
            </ion-row>
            <ion-row padding-top class="ion-justify-content-center">
              <ion-button [routerLink]="['/overview']">IBN abschließen</ion-button>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-grid>