<ion-header>
    <ion-toolbar class="ion-justify-content-center" color="primary">
      <ion-title text-start>Info</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="cancel()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
      <p text-center padding-top>Die 70 Prozent Regelung betrifft den Wechselrichter Ihrer Solaranlage.</p>
      <p text-center padding-top>Wenn Sie sich für diese
        Alternative entscheiden ist Ihr Wechselrichter von Anfang an, auf 70 Prozent der Nennleistung der Module
        begrenzt.</p>
      <p text-center padding-top>Somit kann ohne externe Einflussnahme seitens des Netzbetreibers eine Netzüberlastung verhindert
        werden. Die Regelung ist jedoch begrenzt auf kleine PV-Anlagen mit einer Spitzenleistung von maximal 30 kWp.
      </p>
      <p text-center padding-top>Der
        große Vorteil hinter der 70 Prozent Regelung ist, dass der Netzbetreiber nicht mehr in Ihren
        Solaranlagen-Betrieb eingreifen kann, wie es zuvor der Fall war.</p>
  
  </ion-content>