<ion-header>
    <ion-toolbar class="ion-justify-content-center" color="primary">
        <ion-title>Über FEMS</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="cancel()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-avatar>
            <ion-icon size="large" color="primary" name="information-circle-outline"></ion-icon>
        </ion-avatar>
        <ion-label text-wrap>
            FEMS
            <ion-card-subtitle>Benutzeroberfläche für FEMS</ion-card-subtitle>
        </ion-label>
    </ion-item>
    <p>Diese Benutzeroberfläche wird als Open-Source-Software entwickelt.</p>
    <ul>
        <li>
            <a>Mehr zu OpenEMS</a>
        </li>
        <li>
            <a>
                <span>Dieser Build</span>: 2019.2.0-SNAPSHOT</a>
        </li>
    </ul>
    <p>
        Für Rückfragen und Anregungen zum System, wenden Sie sich bitte an unser Team unter
        service@fenecon.de.
        <!-- <span>Für Rückfragen und Anregungen zum System, wenden Sie sich bitte an unser Team unter
            service@fenecon.de.</span> -->
    </p>
</ion-content>