<ion-header>
  <ion-toolbar class="ion-justify-content-center" color="primary">
    <ion-title text-start>Infos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-row class="ion-justify-content-center">
      <p text-center>Die 70 Prozent Regelung betrifft den Wechselrichter Ihrer Solaranlage.</p>
      <p text-center>Wenn Sie sich für diese
        Alternative entscheiden ist Ihr Wechselrichter von Anfang an, auf 70 Prozent der Nennleistung der Module
        begrenzt.</p>
      <p text-center>Somit kann ohne externe Einflussnahme seitens des Netzbetreibers eine Netzüberlastung verhindert
        werden. Die Regelung ist jedoch begrenzt auf kleine PV-Anlagen mit einer Spitzenleistung von maximal 30 kWp.
      </p>
      <p text-center>Der
        große Vorteil hinter der 70 Prozent Regelung ist, dass der Netzbetreiber nicht mehr in Ihren
        Solaranlagen-Betrieb eingreifen kann, wie es zuvor der Fall war.</p>
    </ion-row>
  </ion-row>
</ion-grid>