<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/ibn/start']">IBN Neustarten
          <ion-icon name="repeat"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-card>
      <ion-card-content padding>
        <ion-row padding-top class="ion-justify-content-center">
          <ion-card-title>Inbetriebnahmeprotokoll&nbsp;<ion-icon name="information-circle" (click)="presentModalInfo()"></ion-icon></ion-card-title>
        </ion-row>
        <ion-row>
          <ion-col size="12" size-xl="4">
            <ion-row padding-top class="ion-justify-content-center">
              <ion-card-subtitle>Endkunde</ion-card-subtitle>
            </ion-row>
            <ion-item>
              <ion-label position="stacked">Vorname- Nachname*</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked" type="text">Adresse (PLZ,Ort,Straße,Nr)*</ion-label>
              <ion-input type=""></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="fixed">E-Mail*</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="fixed" type="number">Tel.</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="fixed" type="number">Mobil-Tel.</ion-label>
              <ion-input type=""></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-xl="4">
            <ion-row padding-top class="ion-justify-content-center">
              <ion-card-subtitle>Installateur</ion-card-subtitle>
            </ion-row>
            <ion-item>
              <ion-label position="stacked">Firmenname*</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked" type="text">Adresse (PLZ,Ort,Straße,Nr)*</ion-label>
              <ion-input type=""></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="fixed">E-Mail*</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="fixed" type="number">Tel.</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="fixed" type="number">Mobil-Tel.</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-xl="4">
            <ion-row padding-top class="ion-justify-content-center">
              <ion-card-subtitle>Stromspeicher Seriennummer</ion-card-subtitle>
            </ion-row>
            <ion-item>
              <ion-label position="stacked" type="number">Batterie-Seriennummer(n)* <ion-icon name="add"></ion-icon></ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked" type="number">Wechselrichter-Seriennummer*<ion-icon name="add"></ion-icon></ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="fixed" type="number">FEMS - Nr*</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Verbaute Zählertypen<ion-icon name="add"></ion-icon></ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>

          </ion-col>
        </ion-row>
        <ion-row padding-top class="ion-justify-content-center">
            <ion-col size="2" text-center>
              <ion-button [routerLink]="['/ibn/prohybrid/protocol/success']" expand="block">Senden</ion-button> 
            </ion-col>
            <ion-col size="2" text-center>
              <ion-button [routerLink]="['/ibn/prohybrid/protocol/success']" expand="block">Drucken</ion-button> 
            </ion-col>
          </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-grid>