<ion-header>
<ion-toolbar class="ion-justify-content-center" color="primary">
    <ion-title>Inbetriebnahme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid>
    <ion-row class="ion-justify-content-center">
        <ion-card padding>
          <ion-card-title>
           Welches Gerät möchten Sie Inbetriebnehmen?
          </ion-card-title>
       <ion-button expand="block" fill="solid" [routerLink]="['/setup-three']">Pro Hybrid 10-Serie</ion-button>
       <ion-button expand="block" fill="solid" [routerLink]="['/']">Commercial</ion-button>
      </ion-card>
    </ion-row>
  </ion-grid>
