<ion-header>
  <ion-toolbar class="ion-justify-content-center" color="primary">
    <ion-title text-start>Infos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-row class="ion-justify-content-center">
      <p text-center>Das Inbetriebnahme Protokoll ist unabdinglich zur Aktivierung der Garantie, die mit (*) Felder sind
        MUSS-Felder und müssen ordnungsgemäß ausgefüllt werden.</p>
      <p text-center>Im Anschluss darauf senden Sie uns das Inbetriebnahme Protokoll zu indem Sie auf Senden drücken,
        oder Sie Drucken das Inbetriebnahme Protokoll aus und senden es innerhalb von 30 Tagen nach Abschluss an
        folgende Adresse:</p>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-item>

      </ion-item>
    </ion-row>
  </ion-row>
</ion-grid>